.content {
    margin: 150px auto;
    max-width: 600px;
}

.heading {
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    display: inline-block;
    border-bottom: 2px solid #333;
    padding-bottom: 4px;
}

.alert.alert-warning {
    color: rgb(82, 80, 80);
    width: 80%;
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.reservation a,
.reservation button {
    display: inline-block;
    width: 250px;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    border: none;
}

.reservation .btn-primary {
    background-color: #10B981;
    /* 緑 */
    color: #fff;
}

.reservation .btn-primary:disabled {
    background-color: #f3f1f1;
    /* グレー */
    color: #fff;
    cursor: not-allowed;
}

.reservation .btn-secondary {
    background-color: #3B82F6;
    /* 青 */
    color: #fff;
}

.button {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 100px;
}

.button a {
    display: inline-block;
    padding: 12px 20px;
    font-size: 18px;
    border: 2px solid #10B981;
    color: #10B981;
    background-color: transparent;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.confirm,
.mypage {
    flex: 1;
}

.confirm {
    margin-right: 10px;
}

.mypage {
    margin-left: 10px;
}
