.content {
    margin: 80px auto;
    max-width: 760px;
    padding-top: 100px;
}

.heading {
    text-align: center;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1100;
}

h2 {
    display: inline-block;
    border-bottom: 2px solid #4f4c4c;
    padding-bottom: 4px;
    color: #4f4c4c;
}

.alert.alert-success {
    background-color: transparent !important;
    border: none !important;
    color: blue !important;
    padding: 0;
    text-align: center;
    margin-top: 30px;
}

.month-navigation {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.month {
    font-size: 24px;
    font-weight: bold;
}

.calendar {
    width: 100%;
    border-collapse: collapse;
}

.calendar th {
    border: 1px solid #ccc;
    width: 14.2%;
    text-align: center;
    padding: 10px;
    background-color: #e7f5e5;
    /* 曜日ヘッダーの背景色 */
}

.calendar td {
    border: 1px solid #ccc;
    width: 14.2%;
    text-align: center;
    padding: 10px;
    padding-bottom: 25px;
    vertical-align: top;
}

.status-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: #007bff;
    color: white;
    border-radius: 4px;
}

.status-btn:hover {
    background: #0056b3;
}

.back__button {
    text-align: center;
    width: 100px;
    margin: 60px auto;
    padding: 5px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #808080;
    cursor: pointer;
    font-size: 15px;
}

.back {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 480px) {

    .content {
        margin: 30px auto;
        padding-top: 70px;
    }

    h2 {
        font-size: 18px;
    }

    .month-navigation {
        gap: 5px;
        margin-top: 40px;
    }

    .month {
        font-size: 18px;
    }

    .calendar th,
    .calendar td {
        font-size: 11px;
        padding: 5px;
    }

    .btn,
    .btn-sm {
        padding: 2px 4px;
        font-size: 10px;
    }

    .alert.alert-success {
        background-color: transparent !important;
        border: none !important;
        color: blue !important;
        width: 80%;
        margin-top: 30px;
    }
}